@model Vidly.ViewModels.CustomerModel
@{
    ViewBag.Title = "Details";
}

@if (Model == null)
{
    <h2>No Customer was found</h2>
}
else
{
    <h2>@Model.Customer.Name</h2>
    <ul>
        <li>Membership Type:@Model.Customer.MembershipType.Name</li>

        @if (Model.Customer.BirthDate != null)
        {
            <li>Birth date: @Model.Customer.BirthDate.Value.ToShortDateString()</li>
        }
    </ul>
}

