
@model Vidly.ViewModels.MovieModel
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("New", "New", null, new { @class = "btn btn-primary" })

@if (Model.Movies.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { movieId = movie.Id}, null)</td>
                    <td>@movie.Genre</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No movies yet!</h2>
}